[
  {rabbit, [
    {default_user, <<"admin">>},
    {default_pass, <<"password">>},
    {auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
  {rabbitmq_auth_backend_oauth2, [
    {resource_server_id, <<"forgerock-iot-oauth2-client">>},
    {key_config, [
      {signing_keys, #{
        <<"pnnsgCLmoXCmWjhScQaZZKQv/4U=">> => {pem, <<"-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA01dzmBH0rFwzo/0EmOa1
hZH1e9UlPwjHmweSIunBEEPeSjjGFyAqVN5HJV40PGU1Z26zEq9ZPka+C8wnYghi
96hSQLY601lxUu3g7yH01Zs53Ika7e97IAwPjEx16DWbAhCpbuKON9BIlF3BdpyV
mTgvq3z1y+tUwdXJCbiHIoAkjY5nagcCGc+l2UgEzgSzTSudhoSkUFGZ6l9SdGQQ
FM9JIUunDdb5KmbK1Fa+648rY/exIVDnwVOlP7akhRnD+fDr3FSfaIvTcjoT8EcX
X3GnVGZu5v732sp+dxeMm8wSXacapRQ4YU7mrC3QKLMlcUi5wARGThsDIUgE/N1K
VQIDAQAB
-----END PUBLIC KEY-----">>}
      }}
    ]}
  ]}
].
